body {
    margin: 0px;
    background-color: rgb(61, 60, 60);
    color: rgb(236, 236, 236);
    line-height: 1.8vw;
}

header {
    font-family: sans-serif;
    background-color: #a81723;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 3.8vw;
    width: 4.8vw;
    margin: 8px;
}

nav li {
    display: flex;
    list-style: none;
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
}

nav li a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
}

nav li a:hover {
    color: rgb(184, 180, 180);
}

#modelSImg {
    width: 100%;
    margin-top: 0%;
    box-shadow: 4px 4px 12px 12px black;
}

main {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    text-align: justify;
    margin: 5vw;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.collumn1 {
    flex: 1 50vw;
    margin-right: 14px;
}

.collumn2 {
    flex: 2 50vw;
    margin-left: 14px;
}

.slidesShow {
    max-width: 100%;
    position: relative;
    margin: 0px;
}

.images {
    height: 40vw;
}

.slides {
    box-shadow: 4px 4px 12px 12px black;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .4 ;
    }
    to {
        opacity: 1;
    }
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    position: relative;
    font-size: 1.4vw;
    margin: 12px;
    bottom: 3vw;
}

.button:hover {
    color: rgb(114, 111, 111);
}

#back {
    right: 4vw;
}

#next {
    left: 4vw;
}

.imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    padding: 8px;
}

footer {
    background-color: #a81723;
    padding: 0.4vw;
}

footer p {
    font-size: 1.2vw;
    margin: 1vw;
    color: black;
}

@media screen and (max-width: 700px) {
    nav li a {
        font-size: 2vw;
    }
    nav img {
        margin: 8px;
    }
}


@media screen and (max-width: 800px) {
    .button {
        bottom: 4.4vw;
    }
}

@media screen and (max-width: 430px) {
    .button {
        bottom: 6.3vw;
    }
}

@media screen and (max-width: 380px) {
    .button {
        bottom: 6.8vw;
    }
}

@media screen and (max-width: 320px) {
    .button {
        bottom: 8vw;
    }
}


#aboutElon {
    padding: 12px;
}

.memeContainer {
    display: flex;
    flex-flow: row;
}

.textAboutElon {
    margin: 1vw;
}

#memeText {
    font-size: 3vw;
    text-align: center;
}

.col1 {
    flex: 1 50vw;
    height: 20vw;
    margin-right: 1vw;
}

.col2 {
    flex: 2 50vw;
    height: 20vw;
    margin-left: 1vw;
}

.item1 {
    flex: 1 30vw;
    height: 20vw;
    margin-right: 1vw;
}

.item2 {
    flex: 2 30vw;
    height: 20vw;
    margin-right: 1vw;
}

.item3 {
    flex: 3 30vw;
    height: 20vw;
}

.item1:hover, .item2:hover, .item3:hover {
    box-shadow: 0px 0px 12px 4px black;
}