body {
    margin: 0px;
    background-color: rgb(230, 230, 230);
}

header {
    font-family: sans-serif;
    background-color: #a81723;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 50px;
    width: 60px;
    margin: 8px;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
    margin-left: 18px;
}

nav li a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    color: rgb(184, 180, 180);
}

#modelSImg {
    width: 100%;
    margin-top: 0%;
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.collumn1 {
    flex: 1 50vw;
    margin-right: 8px;
}

.collumn2 {
    flex: 2 50vw;
    margin-left: 8px;
}

.slidesShow {
    max-width: 100%;
    position: relative;
    margin: 0px;
}

.images {
    height: 45vw;
}

.slides {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .6;
    }
    to {
        opacity: 1;
    }
}

.button {
    cursor: pointer;
    position: relative;
    font-size: 30px;
    bottom: 35px;
    margin: 12px;
}

.button:hover {
    color: rgb(114, 111, 111);
}

#back {
    left: 40%; 
}

#next {
    left: 51%;
}

.imgText {
    font-size: 24px;
    position: relative;
    left: 45vw;
}


#aboutElon {
    padding: 12px;
}

.textAboutElon {
    margin: 20px;
}

#memeText {
    font-size: 32px;
    text-align: center;
    border-bottom: solid ; 
}

.elonImages {
    width: 33vw;
    margin: 6px;
    height: 20vw;
}

.elonMemeImages {
    width: 31vw;
    margin: 6px;
    height: 20vw;
}

.elonImages:hover {
    height: 21vw;
}

footer {
    background-color: #a81723;
    padding: 10px;
}